<h1>Create workout</h1>

<div *ngFor="let exercise of exercises">
    <app-add-exercise [exercise]="exercise"></app-add-exercise>
</div>

<div class="buttons-container">
    <span class="add-exercise-container" (click)="addExercise()">
        <span class="plus">
            +
        </span>
        <span>
            Add new exercise
        </span>
    </span>
    
    <span class="add-exercise-container" (click)="creatingNewExercise = true">
        <span class="plus">
            +
        </span>
        <span>
            Exercise name not found?
        </span>
    </span>
</div>

<div class="popup-container" *ngIf="creatingNewExercise">
    <div class="popup">
        <div class="apart">
            <label>Exercise name</label>
            <span class="close" (click)="creatingNewExercise = false"> (X)</span>
        </div>
        <input type="text" (keyup)="checkExercises()" #newExerciseTextBox autofocus >
        <span class="btn" [ngClass]="exerciseAlreadyExists ? 'disabled' : ''" (click)="addNewExercise()">
            Add new exercise
        </span>
    </div>
</div>