//colour palette
$beige: #fff2f2;
$lilac: #e5e0ff;
$light-blue: #8EA7E9;
$dark-blue: #7286D3;

@font-face {
    font-family: 'Roboto';
    src: url('./assets/fonts/Roboto-Regular.ttf') format('truetype');
}